<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>

	<appender name="FILE1" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./log/FinancialApplication.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<param name="immediateFlush" value="true" />
		<param name="threshold" value="debug" />
		<param name="append" value="true" />


		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{ABSOLUTE} %-5p %X{xaStatus} %m%n"/>
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="DEBUG" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<appender name="FILE2" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="file" value="./log/FinancialApplicationErrors.log" />
		<param name="immediateFlush" value="true" />
		<param name="threshold" value="error" />
		<param name="append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />


		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{ABSOLUTE} %-5p %X{xaStatus} %m%n"/>
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="ERROR" />
			<param name="LevelMax" value="FATAL" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>


	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">

		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{ABSOLUTE} %-5p %X{xaStatus} %m%n"/>
		</layout>

		<filter class="org.apache.log4j.varia.LevelRangeFilter">
			<param name="LevelMin" value="INFO" />
			<param name="LevelMax" value="WARN" />
			<param name="AcceptOnMatch" value="true" />
		</filter>
	</appender>

	<logger name="file.parser" additivity="false">
		<appender-ref ref="FILE1" />
		<appender-ref ref="FILE2" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<root>
		<level value="TRACE" />
		<appender-ref ref="FILE1" />
		<appender-ref ref="FILE2" />
		<appender-ref ref="CONSOLE" />
	</root>

</log4j:configuration>